<!DOCTYPE HTML>
<html>
<head>
  <title>Timeline | Basic demo</title>


  <script src="vis.js"></script>
  <link href="vis-timeline-graph2d.min.css" rel="stylesheet" type="text/css" />

   <style type="text/css">
    body, html {
      font-family: sans-serif;
    }
	/*
    .vis-item .vis-item-overflow {
        overflow: visible;
    }
	*/
  </style>
 
</head>
<body>

<p>
  A basic timeline. You can move and zoom the timeline, and select items.
</p>

<div id="visualization"></div>

<script type="text/javascript">
  // DOM element where the Timeline will be attached
  var container = document.getElementById('visualization');

  // Create a DataSet (allows two way data-binding)
  var data = <%= json_data %>
  var items = new vis.DataSet(data);

  // Configuration for the Timeline
  var options = {
	  stack: false,
	  zoomable: false,
  };

  var groups = <%= json_groups %>;
  // Create a Timeline
  var timeline = new vis.Timeline(container, items, groups, options);

  timeline.on('itemover', function (properties) {
	  console.log(data[properties['item']-1]);
  });


</script>
</body>
</html>
